<div class="container myDiv">
  <h1>Movies for B2B</h1>
  <input type="text" id="name" class="form-control" (keyup)="findMovie($event)">
</div>
<div class="container">
    <div class="row">
        <app-movie-display *ngIf="currentMovie"  [currentMovie]="currentMovie"></app-movie-display>
    </div>
    <button *ngIf="currentMovie" mat-raised-button (click)="addToList()" color="primary">Add to list</button>
</div>
<br>
<h1>My list:</h1>
<h2 *ngIf="movies.length<1">No movies yet</h2>
<div class="container">
    <div class="row">
       <app-movie-display *ngFor="let movie of movies; let ind = index" [currentMovie]="movie" [ind]="ind" (del)="del($event)"></app-movie-display>  
    </div>
</div>

    